:root {
    --bg-color: #e9e8e8;
    --inverted-bg-color: #20262e;
    --primary-color: #101113;
    --secondary-color: #b2bed4;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #7b7b7b;
}
