:root {
    --bg-color: #E9E8E8;
    --inverted-bg-color: #20262E;


    --primary-color: #101113;
    --secondary-color: #B2BED4;

    --inverted-primary-color: #FFFFFF;
    --inverted-secondary-color: #7B7B7B;
}
